#BluePrint {
	left: calc(50% - 350px);
	top: 150px;
}

#BluePrint>* {
	  color: #5ae4ff;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

#DisplayStand {
	position: absolute;
	top: 32px;
	left: 300px;
	right: 300px;
	bottom: 0;
	opacity: 0.99;
	background: #fffae8;
	overflow-y:auto;
}

#taskView {
	position: absolute;
}

#taskBar {
	position: absolute;
	right: 0;
	
	bottom: 0;
	height: 500px;
	background: #eee;
	overflow: auto;
}

	#taskBar .Panel {
		position: absolute;
		color: #888;
		padding: 10px;
		border-top: 1px solid #ccc;
	}

	#taskBar .Panel.collapsed {
		margin-bottom: 0;
	}

	#taskBar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

.list-item {
	display: inline-block;
	margin: 2px;
	padding: 4px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.list-item>div:nth-child(1) {
	width: 123px;
	height: 123px;
}

.list-item>div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: small;
	width: 123px;
	margin-top: 2px;
}

.list-item:hover {
	color: #00ffff;
	cursor: pointer;
	outline: 2px solid rgba(128, 255, 255, 0.72);
}

.list-item>div:nth-child(2):hover {
	color: #00ffff;
	cursor: pointer;
}

.register-item {
	display: inline-block;
	margin: 3px;
	padding: 3px;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.register-item>div:nth-child(1) {
	width: 72px;
	height: 72px;
}

.register-item>div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: smaller;
	width: 72px;
	margin-top: 0.2em;
}

.register-item>div:nth-child(2):hover {
	background: #00ffff;
	cursor: pointer;
}

.product-item {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-item>img:nth-child(1) {
	background: #888;
	width: 200px;
	height: 200px;
}

.product-item>div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: large;
	width: 200px;
	margin-top: 0.5em;
}

.product-item:hover {
	background: #00ffff;
	cursor: pointer;
}

#ArticleItem div {
	margin: 0px;
}

#ArticleItem ul {
	padding-inline-start: 2px;
	list-style-type: none;
}

#ArticleItem h3 {
	font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
}

#ArticleItem li img {
	float: left;
	height: 170px;
	width: 260px;
	margin: 0 5px 0 0;
}

#ArticleItem li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#ArticleItem li {
	margin: 5px;
	padding:5px;
	overflow: auto;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#ArticleItem li:hover {
	background: #00ffff;
	cursor: pointer;
}

#NotificationItem div {
	margin: 1px;
}

#NotificationItem ul {
	padding-inline-start: 2px;
	list-style-type: none;
}

#NotificationItem h3 {
	font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
}

#NotificationItem li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#NotificationItem li {
	margin: 3px;
	padding: 3px;
	overflow: auto;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background: #fffae8;
}

#NotificationItem li:hover {
	background: #00ffff;
	cursor: pointer;
}

#TaskViewTopMenu {
	position: absolute;
	top: 1px;
	width: 100%;
	text-align: center;
}

#TaskViewTopMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewTopMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewTopMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

#TaskViewBottomMenu {
	position: absolute;
	bottom: 1px;
	width: 100%;
	text-align: center;
}

#TaskViewBottomMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewBottomMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewBottomMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

#TaskViewLeftMenu {
	position: absolute;
	left: 1px;
	top: 1px;
	height: 100%;
	text-align: center;
	writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/  
	writing-mode: tb-lr;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/ 
}

#TaskViewLeftMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewLeftMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewLeftMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

#TaskViewRightMenu {
	position: absolute;
	right: 1px;
	top: 1px;
	height: 100%;
	text-align: center;
	writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/  
    writing-mode: tb-lr;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/ 
}

#TaskViewRightMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewRightMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewRightMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

.TaskCard {
	width: 120px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}

.TaskCard:hover {
	box-shadow: 0px 0px 12px 12px rgba(0, 255, 255, 0.75);
	border: 2px solid rgba(127, 255, 255, 0.75);
}

.TaskCard .TaskStatus {
	position: absolute;
	top: 18px;
	right: 20px;
	font-size: small;
	color: rgba(127, 255, 255, 0.75);
}

.TaskCard .TaskDetail {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	font-size: large;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.TaskCard .TaskCreatedBy {
	position: absolute;
	bottom: 15px;
	right: 20px;
	font-size: medium;
	color: rgba(127, 255, 255, 0.75);
}

#userBriefcase {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 300px;
	background: #eee;
	overflow: auto;
}
	#userBriefcase .Panel {
		position: absolute;
		color: #888;
		padding: 10px;
		border-top: 1px solid #ccc;
	}

	#userBriefcase .Panel.collapsed {
		margin-bottom: 0;
	}

	#userBriefcase .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}
