.player {
  	width: 720px;
  	height: 360px;
  	margin: 10px auto;
  	border: 1px solid #000;
  	background-color: #000;
  	position: relative;
  	border-radius: 6px;
  }

  .player video {
  	width: 720px;
  	height: 360px;
  }

  .controls {
  	width: 700px;
  	height: 40px;
  	background-color: rgba(255, 255, 0, 0.3);
  	position: absolute;
  	bottom: 10px;
  	left: 10px;
  	border-radius: 10px;
  }

  .switch {
  	position: absolute;
  	width: 22px;
  	height: 22px;
  	background-color: red;
  	left: 10px;
  	top: 9px;
  	border-radius: 50%;
  }

  .progress {
  	width: 432px;
  	height: 10px;
  	position: absolute;
  	background-color: rgba(255, 255, 255, 0.4);
  	left: 40px;
  	top: 15px;
  	border-radius: 4px;
  	overflow: hidden;
  }

  .curr-progress {
  	width: 0%;
  	height: 100%;
  	background-color: #fff;
  }

  .time {
  	width: 120px;
  	height: 20px;
  	text-align: center;
  	line-height: 20px;
  	font-size: 12px;
  	color: #fff;
  	position: absolute;
  	left: 510px;
  	top: 10px;
  }

  .extend {
  	position: absolute;
  	width: 20px;
  	height: 20px;
  	background-color: red;
  	right: 10px;
  	top: 10px;
  }
