#BluePrint {
	left: calc(50% - 350px - 150px);
	top: 150px;
}

#BluePrint>* {
	  color: #fffae8;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

#DisplayStand {
	position: absolute;
	top: 35px;
	left: 0;
	right: 300px;
	bottom: 0;
	opacity: 0.99;
	overflow-y:auto;
}

#taskView {
	position: absolute;
	top: 35px;
}

#taskBar {
	position: absolute;
	right: 0;
	
	bottom: 0;
	height: 500px;
	background: #eee;
	overflow: auto;
}

	#taskBar .Panel {
		position: absolute;
		color: #888;
		padding: 10px;
		border-top: 1px solid #ccc;
	}

	#taskBar .Panel.collapsed {
		margin-bottom: 0;
	}

	#taskBar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

.list-item {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.list-item>div:nth-child(1) {
	width: 200px;
	height: 200px;
}

.list-item>div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: large;
	width: 200px;
	margin-top: 0.5em;
}

.list-item>div:nth-child(2):hover {
	background: #00ffff;
	cursor: pointer;
}

.product-item {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-item>img:nth-child(1) {
	background: #888;
	width: 200px;
	height: 200px;
}

.product-item>div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: large;
	width: 200px;
	margin-top: 0.5em;
}

.product-item:hover {
	background: #00ffff;
	cursor: pointer;
}

#ArticleItem div {
	margin: 0px;
}

#ArticleItem ul {
	padding-inline-start: 2px;
	list-style-type: none;
}

#ArticleItem h3 {
	font: bold 15px/1.5 Helvetica, Verdana, sans-serif;
}

#ArticleItem li img {
	float: left;
	height: 75px;
	width: 200px;
	margin: 0 15px 0 0;
}

#ArticleItem li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#ArticleItem li {
	margin: 1em;
	padding: 1em;
	overflow: auto;
	box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#ArticleItem li:hover {
	background: #00ffff;
	cursor: pointer;
}

#TaskViewTopMenu {
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
}

#TaskViewTopMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewTopMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewTopMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

#TaskViewBottomMenu {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

#TaskViewBottomMenu input {
	color: rgba(127, 255, 255, 0.75);
	background: transparent;
	outline: 1px solid rgba(127, 255, 255, 0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

#TaskViewBottomMenu input:hover {
	background-color: rgba(0, 255, 255, 0.5);
}

#TaskViewBottomMenu input:active {
	color: #000000;
	background-color: rgba(0, 255, 255, 0.75);
}

.TaskCard {
	width: 120px;
	height: 160px;
	box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
	border: 1px solid rgba(127, 255, 255, 0.25);
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}

.TaskCard:hover {
	box-shadow: 0px 0px 12px 12px rgba(0, 255, 255, 0.75);
	border: 2px solid rgba(127, 255, 255, 0.75);
}

.TaskCard .TaskStatus {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 15px;
	color: rgba(127, 255, 255, 0.75);
}

.TaskCard .TaskDetail {
	position: absolute;
	top: 40px;
	left: 0px;
	right: 0px;
	font-size: 15px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.TaskCard .TaskCreatedBy {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	font-size: 12px;
	color: rgba(127, 255, 255, 0.75);
}
